@page "/demo/child"

 <h2>Child Components :  Parent Title is: @ParentsTitle</h2>
<button @onclick="UpdateParentsTitle">Update Parents Title</button>

@code {

    [Parameter] public string ParentsTitle { get; set; }
    [Parameter] public EventCallback<string> ParentsTitleChanged { get; set; }

    private async Task UpdateParentsTitle()
    {
        ParentsTitle = "Hello, From Child Component!";
        await ParentsTitleChanged.InvokeAsync(ParentsTitle);
    }

}
